<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="<%= assets_path('index.js') %>"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
